@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=JetBrains+Mono:wght@400;500&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
  --font-serif: "Georgia", serif;
  
  --color-app-bg: #050505;
  --color-nav-bg: #080808;
  --color-frame-bg: #0a0a0a;
  --color-accent: #f97316; /* Orange 500 */
}

@layer base {
  body {
    @apply bg-[var(--color-app-bg)] text-zinc-400 font-sans;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #27272a; /* Zinc 800 */
  border-radius: 2px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #3f3f46; /* Zinc 700 */
}
